:root {
  --link-color-2: #212121;
  --color-wite: #fff;
  --link-color: #2196f3;
  --foot-color: #2f303a;
  --adress-color: #757575;
  --foot-sdress-color: #ffffff99;
  --text-font-famyli: "Roboto", sans-serif;
}

.global-body {
  background-color: #fff;
  font-family: var(--text-font-famyli);
}

ul {
  list-style-type: none;
}

/* Website link */

.weblink {
  color: #000;
  font-family: var(--text-font-famyli);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.weblink span {
  color: #2196f3;
}

.navigation-link a:link {
  color: var(--link-color-2);
  font-family: var(--text-font-famyli);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  list-style-type: none;
}

.navigation-link a:hover {
  color: var(--link-color);
}

.navigation-link a:focus {
  color: red;
}

.global-haeder .contact a {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  list-style-type: none;
}

.global-haeder .contact :link:hover {
  color: var(--link-color);
}

/* Button and titel section */
.tittel {
  background: #2f303a;
  text-align: center;
}

.tittel-section {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 136.364%;
  /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.button-service {
  color: var(--link-color-2);
  background-color: var(--link-color);
  text-align: center;
  font-size: 16px;
  line-height: 187.5%;
  border-radius: 4px;
  border: 0;
  letter-spacing: 0.96px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
}

.button-service:hover {
  color: var(--color-wite);

}

.tittel-details {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
}

.about-details {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}

.contacts-footer {
  background: #2f303a;
}

.contacts-footer .weblink-footer {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.weblink-footer span {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.contacts-footer .address {
  color: var(--color-wite);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  text-decoration: none;

}

.contacts-footer .contact-ends {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  list-style-type: none;
}

/* Portofoliu butons */

.buttons {
  color: var(--link-color-2);
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  cursor: pointer;
  border: none;

}

.buttons :hover,
.buttons :focus {
  background-color: var(--link-color);
  color: var(--color-wite);

}